<!doctype html>
<html lang="es">

<head>
    <title>U2 Band</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"
        integrity="sha256-5oApc/wMda1ntIEK4qoWJ4YItnV4fBHMwywunj8gPqc=" crossorigin="anonymous"></script>
    <link rel="icon" href="u2icon.ico">

</head>

<body>
    <header id="header">
        <!-- place navbar here -->
    </header>
    <main>
        <div id="app" class="container">
            <br>
            <h1 class="text-center">Albums</h1>
            <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> -->
            <!-- Botón Nuevo (Azul) -->
            <a class="btn btn-outline-primary" href="album_nuevo.html">Agregar Album</a>

            <section v-if="error">Lo sentimos se produjo un error</section>
            <section v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>

                </section>
                <section v-else>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Realizado</th>
                                    <th scope="col">Producido</th>
                                    <th scope="col">Discografica</th>
                                    <th scope="col">Estudio</th>
                                    <th scope="col">Tour</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="album in albums" class="">
                                    <td scope="row">{{album.id}}</td>
                                    <td>{{album.name}}</td>
                                    <td>{{getFormattedDate(album.released_date)}}</td>
                                    <td>{{album.produced_by}}</td>
                                    <td>{{album.label}}</td>
                                    <td>{{album.recorded_at}}</td>
                                    <td>{{album.tour}}</td>
                                    <td>
                                        <img width="60" :src="album.imagen" :alt="album.name">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger"
                                            v-on:click="eliminar(album.id)">Eliminar</button>

                                        <a class="btn btn-outline-secondary"
                                            :href="'album_editar.html?id='+ album.id+'&name='+ album.name + '&released_date='+ album.released_date + '&produced_by='+ album.produced_by + '&label='+ album.label + '&recorded_at='+ album.recorded_at + '&tour='+ album.tour + '&imagen='+ album.imagen">Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
        </div>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/albums.js"></script>
</body>

</html>