.card {
  width: 20rem;
  height: 25rem;
  margin: 30px;
}

.card img {
  height: 18rem;
}

footer * {
  display: inline;
}

table {
  max-width: 500px;
}

.box {
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      #fff,
      #fff 50%,
      #fff
    ),
    conic-gradient(
      from var(--border-angle),
      transparent 20%,
      rgb(0, 102, 255),
      rgb(84, 25, 179)
    );
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 15s linear infinite;
  animation: bg-spin 15s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.social-buttons {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 5px;
  border-radius: 10px;
  text-align: center;
}

.social-buttons .social-margin {
  margin-right: 15px;
}

.social-buttons a,
.social-buttons a:hover,
.social-buttons a:focus,
.social-buttons a:active {
  text-decoration: none;
}

.social-buttons .social-icon {
  margin-bottom: 15px;
  box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}

.social-buttons .social-icon:hover {
  transform: rotate(360deg) scale(1.3);
}

.social-buttons .social-icon.facebook {
  font-size: 22px;
  padding-top: 9px;
  border-color: #3b5998;
  background-color: #3b5998;
  color: #ffffff;
}

.social-buttons .social-icon.facebook:hover {
  background-color: #ffffff;
  color: #3b5998;
}

.social-buttons .social-icon.wp {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 2px;
  border-color: #4aca50;
  background-color: #4aca50;
  color: #ffffff;
}

.social-buttons .social-icon.wp:hover {
  background-color: #ffffff;
  color: #55acee;
}

.social-buttons .social-icon.instagram {
  font-size: 22px;
  padding-top: 9px;
  background-color: #cb2027;
  color: #ffffff;
  border-color: #cb2027;
}

.social-buttons .social-icon.instagram:hover {
  background-color: #ffffff;
  color: #cb2027;
}

footer p,
.row {
  color: grey;
}
/* 
body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
} */

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

#divLogo {
  background-color: black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  #footer * {
    /* background-color: red; */
  }
  #navbarNav {
    /* margin-right: 0 !important; */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* #footer * {
    background-color: green;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/*  */

#divLogo {
  /* height: 100%;
	width: 1000px; */
  height: 200px;
  background-image: url("../images-portada/danus-logo.jpg");
  background-repeat: repeat-x;
  background-size: 200px;
  /* animation: 50s para infinite linear; */
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

/*  */
#content {
  height: 650px;
}
img {
  width: 90%;
  border-radius: 20%;
}

.containers {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.items {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 50s infinite alternate linear;
}

.entrys {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 500px;
  margin: 1em;
  padding: 0.1em;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .items {
    animation: carouselAnim 35s infinite alternate linear;
  }

  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (2 * 300px)));
    }
  }
}

.entrys p {
  text-align: center;
  padding: 1em;
}

.name {
  font-weight: bold;
}

@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (5 * 300px)));
  }
}

.containers .faders {
  width: 100%;
  position: absolute;
  height: 100%;
}

.faders .right,
.faders .left {
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 15%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
