* {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
.select-1 {
  font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  background: #000070;
}

#hero {
  height: 100vh;
}

div {
  margin-top: 1rem;
  margin-left: 0.8rem;
}

.select-1 {
  padding: 0.3em 1.8em 0.24em 0.8em;
  /* 	width: 100%; */
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 0.4rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-2 {
  padding: 0.3em 1em 0.24em 0.8em;
  /* 	width: 100%; */
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 0.4rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

input[type="submit"] {
  background-color: lightgreen;
}

input:disabled {
  color: red;
  opacity: 0.6;
}

#settings {
  padding: 0rem 1rem 1rem;
  background: #ddd;
  border-radius: 1rem;
  box-shadow: gray 0 0.4rem 1rem;
  width: 600px;
  margin: 0 auto;
}

ul {
  list-style: none;
  width: 90%;
}
li {
  width: 100%;
  color: lightgray;
  font-weight: bold;
}

#listado {
  width: 90%;
  height: 400px;
  overflow: auto;
}

.btnX {
  color: red;
  margin-left: 10px;
}

h2 {
  color: lightgray;
}

h4 {
  padding: 10px;
  color: black;
}
p {
  color: lightgray;
}

#horas {
  /* color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; */

  /* position: absolute;
  bottom: 0;
  margin-left: -80px;
  margin-bottom: 50px;
  font-size: x-large;
  padding: 10px; */
}

.ui-datepicker {
  background: #333;
  border: 1px solid #555;
  color: #eee;
}

.ui-datepicker-week-end > .ui-state-default {
  color: red;
}
