* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 80%;
}

navbar {
  display: flex;
  flex-direction: column;
  align-items: end;
  background: lightpink;
  border: 5px solid black;
}

navbar li {
  list-style: none;
  display: inline;
  padding: 10px;
}

navbar a {
  text-decoration: none;
  color: blue;
}

#portada {
  margin: 50px auto;
  border: 5px solid black;
  width: 800px;
}

#portada img {
  width: 100%;
  margin: 0;
}

#ofertas {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#ofertas img {
  width: 300px;
  border: 5px solid black;
}
