* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
}

nav {
  width: 99%;
  background: lightskyblue;
  border: 5px solid black;
  text-align: end;
}

nav li {
  padding: 10px;
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
}

#portada {
  margin: 50px auto;
  border: 5px solid black;
  width: 300px;
  margin: 20px auto;
}

#portada img {
  width: 100%;
  margin: 0;
}

#ofertas {
  margin: 50px auto;
  display: table;
  align-items: center;
}

#ofertas img {
  width: 100px;
  border: 5px solid black;
}
